.dropzone {
  height: 100%;
  background: #00a49a;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
  cursor: pointer;
  overflow: hidden;
  border: 1px dashed;
}

.dropzone:has(.dropzone-image) {
  background: none;
}

.dropzone-image {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  padding: 1rem;
  background-color: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropzone p {
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff !important;
}
