@import "../../style/variables.css";

.side-menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  padding-top: var(--menu-superior);
  max-width: var(--menu-lateral);
  width: 100%;
  background: #fff;
  z-index: 4;
}

.padding-menu-top {
  padding-top: var(--menu-superior) !important;
}

.btn-outline-focus {
  color: #00a49a !important;
  text-decoration: none;
}

.btn-outline-focus:hover,
.btn-outline-focus:focus,
.btn-outline-focus:active {
  color: #ffffff !important;
  background-color: #00a49a !important;
  box-shadow: 1px 1px 10px #666666;
}

.tamanho {
  height: 37rem !important;
}