.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.6);
}

.loader-content {
  border: 0.75rem solid #000;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border-top-color: transparent;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
